@charset "UTF-8";
/* 大區塊設定模板(置中對齊) */
/* 1.height: 100%;父撐開

    2.display: flex;
    3.justify-content: center;
    4.align-items: center;
    5.flex-direction: column; */
/* 6.如果不是第一區塊，需在父加上padding 10% */
/* 元件設定模板 */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
html nav#mainNav, body nav#mainNav {
  background: #132536 !important;
}
html nav#mainNav a.navbar-brand, body nav#mainNav a.navbar-brand {
  font-size: 2em;
}
html nav#mainNav div#navbarResponsive li.nav-item, body nav#mainNav div#navbarResponsive li.nav-item {
  font-size: 1.5em;
}
html li a.nav-link:hover, body li a.nav-link:hover {
  color: yellow;
  transition: 0.3s;
}

header#about {
  height: 100%;
  background: rgba(0, 0, 0, 0.9) !important;
}
header#about div#member-login-div {
  display: none;
  background: rgb(255, 255, 255);
  width: 500px;
  height: 184px;
  position: relative;
  left: 20%;
  top: -64%;
  border-radius: 25px;
}
header#about div#member-login-div img#close-login-div {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
}
header#about div#member-login-div h1 {
  color: #000;
  padding-left: 5em;
  line-height: 1.6em;
}
header#about div#member-login-div input {
  width: 400px;
  font-size: 1.5em;
  margin: 5px;
  border-radius: 15px;
}
header#about div#member-login-div button#login-btn {
  background: rgba(38, 122, 38, 0.8);
  font-size: 1.5em;
  width: 75px;
  height: 95px;
  border-radius: 15px;
  position: absolute;
  top: 63px;
  left: 414px;
}
header#about div#member-login-div a#forgetPass {
  position: absolute;
  bottom: 0;
  left: 12.5em;
}
header#about div#about-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header#about div#about-div h1 {
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 600;
}
header#about div#about-div p {
  font-size: 1.5em;
}
header#about div#about-div a#join-member-btn {
  color: green;
  background: #c3daf1;
  border: 0px;
}
header#about div#about-div a#join-member-btn:hover {
  color: #162f48;
  background: rgb(89, 155, 89);
  transform: scale(1.5);
  transition: 0.3s;
}

section#about-landlord {
  height: 100%;
  background: rgb(255, 255, 255) !important;
}
section#about-landlord div#about-landlord-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#about-landlord div#about-landlord-div h1 {
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 600;
}
section#about-landlord div#about-landlord-div p {
  font-size: 1.5em;
}
section#about-landlord div#about-landlord-div ol li {
  font-size: 1.5em;
}
section#about-landlord div#about-landlord-div a#join-landlord-btn {
  color: rgb(96, 128, 0) !important;
  background: rgb(14, 18, 84) !important;
  border: 0px;
}
section#about-landlord div#about-landlord-div a#join-landlord-btn:hover {
  color: rgb(255, 255, 255) !important;
  background: #062139 !important;
  transform: scale(1.5);
  transition: 0.3s;
}

section#rent-services {
  height: 100%;
  background: rgba(0, 0, 0, 0.9) !important;
}
section#rent-services div#rent-services-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10%;
}
section#rent-services div#rent-services-div h1 {
  color: #FFF;
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 600;
}
section#rent-services div#rent-services-div a#rent-services-btn {
  color: green !important;
  background: #c3daf1 !important;
  border: 0px;
}
section#rent-services div#rent-services-div a#rent-services-btn:hover {
  color: rgb(89, 155, 89) !important;
  background: #162f48 !important;
  transform: scale(1.5);
  transition: 0.3s;
}

section#shop {
  height: 100%;
  background: rgb(255, 255, 255) !important;
}
section#shop div#shop-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#shop div#shop-div h1 {
  color: #000;
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 600;
}
section#shop div#shop-div p {
  font-size: 1.5em;
}
section#shop div#shop-div a#rent-services-btn {
  color: rgb(96, 128, 0) !important;
  background: rgb(14, 18, 84) !important;
  border: 0px;
}
section#shop div#shop-div a#rent-services-btn:hover {
  color: rgb(255, 255, 255) !important;
  background: #062139 !important;
  transform: scale(1.5);
  transition: 0.3s;
}

section#announcement {
  height: 100%;
  background: rgba(0, 0, 0, 0.9) !important;
}
section#announcement div#announcement-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#announcement div#announcement-div h1 {
  color: #FFF;
  font-size: 3em;
  margin-top: -2em;
  font-weight: 600;
}
section#announcement div#announcement-div a#rent-services-btn {
  color: rgb(96, 128, 0) !important;
  background: rgb(14, 18, 84) !important;
  border: 0px;
}
section#announcement div#announcement-div a#rent-services-btn:hover {
  color: rgb(255, 255, 255) !important;
  background: #062139 !important;
  transform: scale(1.5);
  transition: 0.3s;
}
section#announcement div#announcement-ol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
section#announcement div#announcement-ol ol li {
  font-size: 1.5em;
  color: #FFF;
}

section#callUs {
  height: 80%;
  background: rgb(255, 255, 255) !important;
}
section#callUs div#callUs-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section#callUs h1 {
  color: #000;
  font-size: 3em;
  margin-top: -2em;
  font-weight: 600;
}

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color: yellow !important;
}/*# sourceMappingURL=styles2.css.map */