 /* 大區塊設定模板(置中對齊) */
        /* 1.height: 100%;父撐開

            2.display: flex;
            3.justify-content: center;
            4.align-items: center;
            5.flex-direction: column; */

        /* 6.如果不是第一區塊，需在父加上padding 10% */
        /* 元件設定模板 */


// 區塊元素-大小
$SuperFullPage : 100%;
$loginBlockWidth : 500px;
// 背景主題-顏色
$NavBC : #132536;
$backgroundColor_1 :  rgba(0,0,0,.9);
$backgroundColor_2 : rgba(255,255,255,1);
// 文字-顏色
$h1FontColor_1 : #FFF;
$h1FontColor_2 : #000;
$h1FontWeight : 600;
// 文字-大小
$h1FontSize : 3em;
$navbar-brandFrontSize : 2em;
$NavliFontSize : 1.5em;
$liFontSize : 1.5em;

$pFontSize : 1.5em;
// $pFontSize : 1.5em;
$btnFontSize : 1.5em;
//按鈕-原始狀態
$btnBGColor_1:#c3daf1;
$btnColor_1: green;

$btnBGColor_2:rgb(14, 18, 84);
$btnColor_2: rgb(96, 128, 0);
//按鈕-觸發事件rgb(55, 128, 0)
$btnHoverSpeed : .3s;
$btnBGHoverColor_1:#162f48;
$btnHoverColor_1: rgb(89, 155, 89);

$btnBGHoverColor_2:#062139;
$btnHoverColor_2: rgb(255, 255, 255);

//li連結-觸發事件
$LiHoverColor : yellow;
$LiHoverColor : yellow;
$LiHoverSpeed : .3s;

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: $SuperFullPage;
    nav#mainNav {
        background: $NavBC !important;
        a.navbar-brand{
            font-size: $navbar-brandFrontSize;
        }
        div#navbarResponsive li.nav-item{
            font-size: $NavliFontSize;
        }
        }
        li a.nav-link:hover{
            color: $LiHoverColor ;
            transition: $LiHoverSpeed ;
        }
    }


header#about{
    height: $SuperFullPage;
    background:$backgroundColor_1 !important;

    // 帳密div
    div#member-login-div{
        display: none;
        background: $backgroundColor_2 ;
        width: $loginBlockWidth;
        height: 184px;
        position: relative;
        left: 20%;
        top: -64%;
        border-radius: 25px;
        img#close-login-div{
            width: 25px;
            position: absolute;
            right: 10px;
            top: 10px;
        }
        h1{
            color: $h1FontColor_2;
            padding-left: 5em;
            line-height: 1.6em;
            
        }
        input{
            width:($loginBlockWidth - 100px) ;
            font-size: $pFontSize;
            margin: 5px;
            border-radius: 15px;
            // text-align: center;
        }
        button#login-btn{
            background: rgba(38, 122, 38,.8);
            font-size: $btnFontSize;
            width: 75px;
            height: 95px;
            border-radius: 15px;
            position: absolute;
            top: 63px;
            left: 414px;
            
        }
        a#forgetPass{
            position: absolute;
            bottom: 0;
            left: 12.5em;
        }
    }

    div#about-div{
        height: $SuperFullPage;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      

        h1{
            font-size: $h1FontSize;
            margin-bottom: 1em;
            font-weight: $h1FontWeight;
        }
        p{
            font-size: $pFontSize;
        }
        a#join-member-btn{
            color: $btnColor_1;
            background: $btnBGColor_1;
            border: 0px;
        }
        a#join-member-btn:hover{
            color: $btnBGHoverColor_1;
            background: $btnHoverColor_1;
            transform: scale(1.5);
            transition: $btnHoverSpeed;
        }
    }
}

section#about-landlord{
    height: $SuperFullPage;
    background:$backgroundColor_2 !important;
    div#about-landlord-div{
        height: $SuperFullPage;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            font-size: $h1FontSize;
            margin-bottom: 1em;
            font-weight: $h1FontWeight;
        }
        p{
            font-size: $pFontSize;
        }
        ol li{
            font-size: $liFontSize;
        }
    
        a#join-landlord-btn{
            color: $btnColor_2 !important;
            background: $btnBGColor_2 !important;
            border: 0px;
        }
        a#join-landlord-btn:hover{
            color:$btnHoverColor_2 !important ;
            background: $btnBGHoverColor_2 !important;
            transform: scale(1.5);
            transition: $btnHoverSpeed;
        }
    }
}

section#rent-services{
    height: $SuperFullPage;
    background:$backgroundColor_1 !important;
    div#rent-services-div{
        height: $SuperFullPage;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 10%;
        h1{
            color: $h1FontColor_1;
            font-size: $h1FontSize;
            margin-bottom: 1em;
            font-weight: $h1FontWeight;
        }
        a#rent-services-btn{
            color: $btnColor_1 !important;
            background: $btnBGColor_1 !important;
            border: 0px;
        }
        a#rent-services-btn:hover{
            color:$btnHoverColor_1 !important ;
            background: $btnBGHoverColor_1 !important;
            transform: scale(1.5);
            transition: $btnHoverSpeed;
        }
    }
}

section#shop{
    height: $SuperFullPage;
    background: $backgroundColor_2 !important;
    div#shop-div{
        height: $SuperFullPage;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        // padding: 10%;
        h1{
            color: $h1FontColor_2;
            font-size: $h1FontSize;
            margin-bottom: 1em;
            font-weight: $h1FontWeight;
        }
        p{
            font-size: $pFontSize;
        }
        a#rent-services-btn{
            color: $btnColor_2 !important;
            background: $btnBGColor_2 !important;
            border: 0px;
        }
        a#rent-services-btn:hover{
            color:$btnHoverColor_2 !important ;
            background: $btnBGHoverColor_2 !important;
            transform: scale(1.5);
            transition: $btnHoverSpeed;
        }
    }
}

section#announcement {
    height: $SuperFullPage;
    background: $backgroundColor_1 !important;
    div#announcement-div{
        height: $SuperFullPage;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        // padding: 10%;
        h1{
            color: $h1FontColor_1;
            font-size: $h1FontSize;
            margin-top: -2em;
            font-weight: $h1FontWeight;
        }
        
        a#rent-services-btn{
            color: $btnColor_2 !important;
            background: $btnBGColor_2 !important;
            border: 0px;
        }
        a#rent-services-btn:hover{
            color:$btnHoverColor_2 !important ;
            background: $btnBGHoverColor_2 !important;
            transform: scale(1.5);
            transition: $btnHoverSpeed;
        }
       
    }
    div#announcement-ol{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        ol li{
            font-size: $liFontSize;
            color: $h1FontColor_1;
        }
    }
}

section#callUs {
    height: $SuperFullPage - 20%;
    background: $backgroundColor_2 !important;
    div#callUs-div{
        height: $SuperFullPage;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1{
        color: $h1FontColor_2;
        font-size: $h1FontSize;
        margin-top: -2em;
        font-weight: $h1FontWeight;
    }
}

// other

.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: yellow !important;
}
